<div class="split-child-container">
  {{yield (hash closeButton=(component 'ember-split-view/child/close-button' closeAction=(action 'close')))}}
</div>
{{#if true}}
  <div class="ember-split-view-splitter" onmousedown={{action 'startDrag'}} onmousemove={{action 'mouseMove'}} onmouseup={{action 'endDrag'}} onmouseleave={{action 'endDrag'}}>
  </div>
{{/if}}
